body {
	max-width: 100vw;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

.app {
	max-width: 100vw;
	min-height: 100vh;
	background-image: url("../assets/background.webp");
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
		Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: #212529;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.app-container {
	width: 450px;
	padding: 30px;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	row-gap: 14px;
	background-color: rgba(255, 255, 255, 0.6);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
}

.app-heading {
	font-size: 36px;
	font-weight: 300;
	margin: 0;
	text-align: center;
	user-select: none;
}

.advanced-settings-toggle {
	display: flex;
	justify-content: end;
	align-items: center;
	column-gap: 10px;
}

.advanced-settings-toggle > p {
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	user-select: none;
}

.switch {
	width: 30px;
	height: 16px;
	display: flex;
	align-items: center;
	padding: 0 2px;
	background-color: #f4eee6;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.switch.on {
	background-color: #0078d4;
}

.circle {
	width: 12px;
	height: 12px;
	background-color: #b9b3ac;
	border-radius: 100px;
	transition: transform 0.3s ease;
}

.switch.on .circle {
	transform: translateX(17.5px);
	background-color: #fff;
}

.setting {
	margin-bottom: 16px;
}

.sub-setting {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 6px;
}

.sub-setting label {
	user-select: none;
}

.sub-sub-setting label {
	display: flex;
	align-items: center;
	column-gap: 4px;
	cursor: pointer;
	user-select: none;
}

.sub-setting span {
	font-size: 14px;
	color: #6c757d;
}

.number-input,
.range-input,
.range-input::-webkit-slider-thumb,
.checkbox-input,
.text-input {
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	transition: box-shadow 0.15s ease-in-out, border 0.15s ease-in-out;
}

.number-input,
.checkbox-input,
.text-input {
	border: 1px solid #ccc;
}

.number-input {
	padding: 5px;
	border-radius: 5px;
}

.range-input {
	width: 99.5%;
	height: 8px;
	border-radius: 5px;
	cursor: pointer;
}

.range-input::-webkit-slider-thumb {
	width: 16px;
	height: 16px;
	background: #0078d4;
	border-radius: 50%;
}

.range-input:active::-webkit-slider-thumb {
	background: #005ba4;
}

.checkbox-input {
	position: relative;
	width: 16px;
	height: 16px;
	background-color: #fff;
	border-radius: 4px;
	margin: 2px 0 0 0;
	cursor: pointer;
}

.checkbox-input:checked {
	background-color: #0078d4;
	border: transparent;
}

.checkbox-input:checked::after {
	content: "";
	position: absolute;
	left: 5px;
	top: 2px;
	width: 4px;
	height: 8px;
	border: solid white;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}

.text-input {
	width: 95%;
	padding: 5px 10px;
	border-radius: 5px;
}

.number-input:focus,
.range-input:focus::-webkit-slider-thumb,
.checkbox-input:focus,
.text-input:focus {
	border-color: transparent;
	box-shadow: 0 0 0 4px #7aafff80;
}

input:disabled {
	background-color: transparent;
	border-color: transparent;
	color: #6c757d;
}

.reset-btn {
	display: flex;
	cursor: pointer;
}

.generate-btn {
	font-size: 16px;
	padding: 10px;
	color: #fff;
	background-color: #0078d4;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 6px;
	cursor: pointer;
	user-select: none;
}

.generate-btn > div {
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.generate-btn:hover {
	background-color: #005ba4;
}

.password-container {
	position: relative;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 5px;
}

.copy-all {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	column-gap: 4px;
	padding: 4px 6px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
}

.copy-all span {
	font-size: 12px;
	width: 0px;
	overflow: hidden;
	white-space: nowrap;
	transition: 100ms;
}

.copy-all:hover {
	background-color: #fff;
}

.copy-all:hover span {
	width: 4em;
}

.password-container ul {
	list-style: none;
	padding: 0;
	margin: 0;
	max-height: 192px;
	overflow: auto;
}

.password {
	font-size: 14px;
	font-weight: 500;
	padding: 10px;
	border-radius: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.password:hover {
	cursor: pointer;
	background-color: #fff;
}

.no-password {
	color: #6c757d;
	text-align: center;
	user-select: none;
}

.toast-container {
	position: fixed;
	top: 0px;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	z-index: 100;
}

.toast {
	max-width: 350px;
	text-align: center;
	background-color: #333;
	color: #fff;
	padding: 12px 18px;
	border-radius: 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	opacity: 0;
	animation: fadein 0.2s forwards, fadeout 0.5s ease-in-out 4.5s forwards;
}

.toast.success {
	background-color: #22c55e;
}

.toast.error {
	background-color: #ef4444;
}

.toast.info {
	background-color: #0ea5e9;
}

@keyframes fadein {
	from {
		transform: translateY(0);
		opacity: 0;
	}
	to {
		transform: translateY(10px);
		opacity: 1;
	}
}

@keyframes fadeout {
	to {
		transform: translateY(0px);
		opacity: 0;
	}
}

.footer {
	display: flex;
	column-gap: 20px;
	margin-bottom: 30px;
}

.footer a {
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	color: #fff;
	background-color: rgba(255, 255, 255, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
}

.github:hover {
	background-color: #1f2328;
}

.linkedin:hover {
	background-color: #0a66c2;
}

@media (max-width: 600px) {
	.app {
		background-size: cover;
		background-position: center;
	}

	.app-container {
		width: 325px;
		padding: 20px;
	}

	.text-input {
		width: 94%;
	}
}

@media (min-width: 2240px) {
	.app {
		background-size: cover;
	}
}
